.productList-container {
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;


    .productList-title {
        font-size: 50px;
        font-weight: 700;
        text-align: center;
    }

    .productList-descrip {
        font-size: 16px;
        text-align: center;
    }

    .productList-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        min-width: 300px;
    }
}

@media screen and (max-width:768px) {
    .productList-container{
        margin-top: 500px;
    }
}