.contact-container {
height: 100vh;
position: relative;
transition: all 0.5s ease;

    .contact-bg {
        width: 20px;
        height: 100%;
        background-color: #31d2a7;
        position: absolute;
    }

    .contact-wrapper {
        display: flex;
        justify-content: space-around;
    }

    .contact-left {

        .contact-title {
            font-size: 60px;
            font-weight: bold;
            
        }
        
        .c-info {
    
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 50px;
            margin: 50px 0px;
            margin-left: 20px;
            font-weight: 300;
            width: 70%;
            font-size: 20px;
    
        }
        .c-info-item {
            margin-left: 20px;
            display: flex;
            vertical-align: middle;
        }
    
        .c-icon {
            width: 30px;
            height: 30px;
            margin-right: 20px;
        }

    }

    .contact-right {
        display: flex;
        justify-content: center;
        flex-direction: column;
        .contact-descrip {
            font-size: 20px;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 15px;
            input {
                width: 100%;
                height: 50px;
                border: none;
                border-bottom: 1px solid black;
                outline: none;
                font-size: 14px;
                padding-left: 10px;
            }

            textarea {
                width: 100%;
                border: none;
                border-bottom: 1px solid black;
                outline: none;
                font-size: 14px;
                padding-left: 10px;
            }
            button {
                font-size: 20px;
                border: none;
                padding: 15px;
                background-color: rgb(0, 175, 134);
                font-weight: 500;
                cursor: pointer;
            }
        }
    }

}

@media screen and (max-width: 768px){
    .contact-wrapper {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}