.intro-main-container {
    display: flex;
    height: 100vh;
    .intro-left {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        .i-description {
            a {
                text-decoration: underline;
                color: rgb(0, 160, 125);
            }
        }
    }
    .intro-right {
        flex: 1;
        position: relative;
           
    }

    .i-intro {
        font-size: 30px;
        font-weight: 300;
    }

    .i-name {
        font-size: 50px;
    }

    .title-container{
        height: 50px;
        overflow: hidden;
    }

    .title-wrapper {
        height: 100%;
        animation: move 10s ease-in-out infinite alternate;
    }

    @keyframes move {
        25%{
            transform: translateY(-50px);
        }
        50%{
            transform: translateY(-100px);
        }
        75%{
            transform: translateY(-150px);
        }
        100%{
            transform: translateY(-200px);
        }
    }

    .title-item {
        height: 50px;
        font-size: 30px;
        font-weight: bold;
        color:green;
        display: flex;
        align-items: center;
    }

    .left-wrapper {
        padding: 50px;
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .intro-right {
        display: flex;
        justify-content: flex-start ;
        align-items: center;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            overflow: hidden;
            animation: rotate 10s ease-in-out infinite alternate;
        }

        @keyframes rotate {
            0%{
              transform: rotate(0deg);  
            }
            100% {
                transform: rotate(180deg);
            }
        }

        .i-bg {
            clip-path: polygon(100% 0%, 80% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
            background-color: black;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            transition: all .5s ease ;

        }

        
    }


}

@media screen and (max-width: 768px) {
    .intro-main-container {
        flex-direction: column;
        text-align: center;
        height: 100vh;

        .title-wrapper {
            
        }

        .left-wrapper {
            padding: 10px;
            align-items: center;
            justify-content: center;
            height: 100%;
        }

        .title-item{
            justify-content: center;
        }

        .i-bg {
            width: 80%;
            height: 300px;
        }

        .i-description{
            // display: none;
        }

        .intro-right{
            
        }
    }
}